---
layout: layout
title: Digital Shading Art&Tech
---
<div class="home-page-menu x gr txar sk la posi-rel zi2">
    <h1 class="x-grad x sk bg-main1 txc-main1">Digital Shading Art&Tech<span> - MOSFET'blog</span>
    </h1>
    <div class="mobile-pd x la pd0-md pdr2">
        <h1 class="cat-name x-noselect x sk tx-minor">隐式建模</h1>
        <div class="">
            {% for post in site.categories.modeling %}
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>
        <h1 class="cat-name x-noselect x sk tx-minor">场景</h1>
        <div class="">
            {% for post in site.categories.scene %}
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>
        <h1 class="cat-name x-noselect x sk tx-minor">杂项</h1>
        <div class="">
            {% for post in site.categories.miscellaneous %}
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>
        <h1 class="cat-name x-noselect x sk tx-minor">RGSS</h1>
        <div class="">
            {% for post in site.categories.rgss %}
            <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{%
assign viedo_link = site.data.link | first
%}
<video class="home-page-video x la w100v h100v posi-fix x-coord1 zi1 x-fitcover" id="myVideo" muted loop width="250">
    <source src="{{ viedo_link.url }}" type="video/mp4" />
</video>
<script>
window.addEventListener("load", (event) => {
  let v = document.getElementById("myVideo");
  setTimeout(() => {
    v.play();
  }, 10);
  this.addEventListener("mouseover", (event) => {
    v.muted = false;
    v.play();
  });
});
</script>