<style>
:root {
    --reset-a: inhreid;
    --reset-a-hover: inhreid;
}

pre {
    display: block;
    font-size: 0.88rem;

    border-width: 0.125rem;
    border-style: dashed;
    padding: 0.25rem !important;
}

img {
    max-width: 100%;
    width: 100%;
}

code {
    color: #fff;
    word-break: break-word;
    background-color: #2f18e755;
}

iframe {
    max-width: 100%;
    overflow: hidden;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #a0203b;
    margin: 4px 0px;
    overscroll-behavior: contain;
}

.x-grad {
    background: linear-gradient(45deg, black, transparent);
}

::selection {
    color: #000;
    background-color: #cfa730;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    color: #fff;
    background: linear-gradient(45deg, black, transparent);
}

.home-page {
    background-repeat: no-repeat;
}
</style>