<style>
:root {
    --reset-a: inhreid;
    --reset-a-hover: inhreid;
}

::selection {}

pre {
    display: block;
    font-size: 0.88rem;

    border-width: 0.125rem;
    border-style: dashed;
    padding: 0.25rem !important;
}

code:not(.highlight code) {
    word-break: break-word;
    background: #0008;
    /* markdown */
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
}

img {
    max-width: 100%;
    width: 100%;
}

iframe {
    max-width: 100%;
    overflow: hidden;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #a0203b;
    margin: 4px 0px;
    overscroll-behavior: contain;
}

hr {
    border-color: #37474f;
}

.x-grad {
    background: linear-gradient(45deg, black, transparent);
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    /* main */
    color: #a0203b;
    background: linear-gradient(45deg, black, transparent);
}

.page-content strong {
    /* mainor1 */
    color: #3ba020;
}

.home-page {
    background-repeat: no-repeat;
}
</style>