<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/xapi/reset.css">
    <link rel="stylesheet" href="/assets/xapi/font.css">
    <link rel="stylesheet" href="/assets/xapi/x.min.css">
    <link rel="stylesheet" href="/assets/xapi/autumn.css">
</head>

<body>
    <style>
    pre {
        border-width: 0.125rem;
        border-style: solid;
        padding: 0.25rem !important;
        border-color: #2d69d2;
    }

    img {
        max-width: 100%;
    }
    </style>
    <div class="x la conf pd0">
        {% include nav.html %}
        <div class="x la con posi-rel pdb6 gr ff-bisbee">
            {{ content }}
        </div>
    </div>
</body>

</html>