<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/xapi/reset.css">
    <link rel="stylesheet" href="/assets/xapi/font.css">
    <link rel="stylesheet" href="/assets/xapi/x.min.css">
    <link rel="stylesheet" href="/assets/xapi/autumn.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
    <style>
    pre {
        display: block;
        font-size: 0.88rem;

        border-width: 0.125rem;
        border-style: dashed;
        padding: 0.25rem !important;
    }

    img {
        max-width: 100%;
        width: 100%;
    }

    code {
        color: var(--reset-code);
        word-break: break-word;
        background-color: #0001;
    }

    iframe {
        max-width: 100%;
        overflow: hidden;
    }
    </style>
    <div class="x la conf pd0">
        {% include nav.html %}
        <div class="x la conf con-lg posi-rel pdb6 gr ff-bressay">
            {{ content }}
        </div>
    </div>
</body>

</html>