<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/xapi/reset.css">
    <link rel="stylesheet" href="/assets/xapi/font.css">
    <link rel="stylesheet" href="/assets/xapi/x.min.css">
    <link rel="stylesheet" href="/assets/xapi/autumn.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body class="full-pager x la hmin100v mg0 pdt5-lg sk bgb">
    {% include css.html %}
    <section class="full-centered x la con-md pd0 bdt2-lg bdt1 sk bg-raisin bd-gunmetal02 tx-cloud posi-rel">
        {{ content }}
    </section>
</body>

</html>